@import "../node_modules/hover.css/css/hover-min.css";
@import "pace.css";
@import "../node_modules/mprogress/mprogress.min.css";
@import "../node_modules/izitoast/dist/css/iziToast.min.css";
@import "../node_modules/bulma/css/bulma.css";
@import "../node_modules/sweetalert2/dist/sweetalert2.min.css";
@import "tippy.css";
body {
	min-height: 100%;
}

.footers {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 20%;
}

.section {
	background: rgb(238, 238, 238);
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

html {
	/* Disable text selection, or your app will feel like a web page */
	-webkit-user-select: none;
	-webkit-app-region: drag;

	/* Cover the whole window */
	height: 100%;

	/* Make sure this matches the native window background color that you pass to
     * electron.BrowserWindow({...}), otherwise your app startup will look janky. */
	background: rgb(238, 238, 238);

	/* Smoother startup */
	animation: fadein 0.5s;
}
